body{
    width: 940px;
    margin:0 auto;
    box-shadow: 0 0 15px gray;
    background: linear-gradient(#469594,#68a6a5,#9bc3c2);

}
.menu{
    background-color: #5eb3b2;
    position: fixed;
    width: 940px;
    
}
.menu ul{
    display: flex;
    width: 940px;  
}
.menu li {
    border: 3px solid#096a79;
    padding: 15px;
    margin:0 auto 2px;
    font-family: 'Rubik Marker Hatch';
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px 30px 15PX 30px
}
.menu li a{
    text-decoration: none;
    color:#000000;
}
.menu li :hover{
    background-color: #1c97a0;
    border: 1px solid rgb(13, 16, 15);
  
}
.inicio{
    background-color: #68a6a5;
    display: flex;
    padding-top: 100px;
}
.inicio h1 {
    font-size: 2em;
    font-family:'Rubik Marker Hatch' ;
}
.inicio h3 {
font-size:1,5em;
font-family: 'Rubik Marker Hatch';
font-style:italic;
}
.inicio p{
    font-size: 1,2em;
    font-family:'Rubik Marker Hatch';
}
.foto-perfil{
    border-radius:220px;
    border: 5px solid #000000;
    width: 340px;
    height: 340px;
    margin-left: 90px;
    margin-bottom: 30px;
    left: 200px;
    box-shadow: 0 0 15px #eff6f7;

}
.dados-pessoais{
    margin-top: 100px;
    color: #0b0c0c;
    margin-right: 50px;

}

.dados-pessoais h1 {
    margin-bottom: 20px;
    margin-left: 60px;
}

.dados-pessoais h3{
    margin-bottom: 20px;
    margin-left: 60px;

}
.dados-pessoais p{
    padding-bottom: 20px;
    margin-left: 60px;

}
.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
    font-family: arial;
    padding: 20px 0;
}
.sobre-mim{
    background: #5f9ea0;
    color:rgb(3, 3, 3);
    box-shadow: 0 0 15px gray;
}

.meu-texto p{
    width: 400px;
    height: 390px;
    display: inline-block;
    bottom: 120px;
    font-size: 100%px;
    vertical-align: baseline;
   
}

.meu-texto{
    padding: 180px;
    margin: -200px;

}

#educacao p, #experiencia p, #habilidades p,#interesses p{
    background-color: #8ec9e0;
    box-shadow: 1px 1px 16px (82 4 56 / 50%);
    color: rgb(3, 4, 4);
    padding: 18px;
    display: inline-block;
    border-radius: 8px;
    width: 45%;
    box-sizing: border-box;
    vertical-align: top;
    height: 100px;
    font-size: 20px;
    margin: 2.3%;
    text-align: center;
}

#educacao p:hover, #experiencia p:hover, #habilidades p:hover, #interesses p:hover{
    box-shadow: 0 0 15px #4c7e80;
}

.sobre-mim-conteudo {
    display: flex;
}

.sobre-mim-conteudo img, .sobre-mim-conteudo p{
    padding: 30px;
}
.sobre-mim-conteudo p {
    text-align: justify;
}

.imagem-sobre-mim{
    width: 50%;
}


.redes-sociais {
    width: 40px;
    padding-top: 10px;
    padding-left: 80px;
}
.final {
    background: #5eb3b2;
    text-align: center;
 }
 
 .final h1 {
    padding: 30px;
    font-size: 30px;
 }
 
 .final a {
    text-decoration: none;
 }
 
 .final img {
    width: 40px;
 }
 
 .ultimo p {
    font-size: 20px;
 }

@media screen and (max-width: 480px) {
   body {
    width: auto;
    display: block;
   }

.menu{
    position: static;
}   

.menu ul, .menu li {
    width: 100%;
}

.menu ul {
    display: block;
}
}

.final img{
    width: 25px;
}